<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="快速查詢您的五倍加碼券抽籤結果，只要輸入身分證字號末三碼，即可快速查詢到您的中籤券別，不再錯過你的國旅券、農遊券、藝Fun券、i原券、動滋券、客庄券、地方創生券，放大你的五倍券。"
    />
    <meta property="og:title" content="振興五倍加碼券抽籤 | 中籤快速查詢" />
    <meta
      property="og:description"
      content="快速查詢您的五倍加碼券抽籤結果，只要輸入身分證字號末三碼，即可快速查詢到您的中籤券別，不再錯過你的國旅券、農遊券、藝Fun券、i原券、動滋券、客庄券、地方創生券，放大你的五倍券。"
    />
    <meta property="og:image" content="https://i.imgur.com/qSdvJec.jpg" />
    <meta property="og:url" content="https://5000.jaojaolin.com/" />
    <meta property="og:site_name" content="振興五倍加碼券抽籤 | 中籤快速查詢" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <title>振興五倍加碼券抽籤 | 中籤快速查詢</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-ZC4LW4FPQ4"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-ZC4LW4FPQ4");
    </script>
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-main>
          <v-app-bar dark color="primary">
            <h1 class="text-h6 font-weight-medium">
              五倍加碼券抽籤 - 中籤快速查詢
            </h1>
          </v-app-bar>
          <v-container>
            <v-form
              v-if="!showOutput"
              ref="form"
              v-model="input.valid"
              validation
            >
              <v-row class="mt-2">
                <v-spacer></v-spacer>
                <v-col cols="12" sm="7" md="6" lg="5" xl="3">
                  <p class="mb-0">請輸入身分證字號後3碼</p>
                </v-col>
                <v-spacer></v-spacer>
              </v-row>
              <v-row>
                <v-spacer></v-spacer>
                <v-col cols="12" sm="7" md="6" lg="5" xl="3">
                  <v-text-field
                    label="身分證後3碼"
                    placeholder="025"
                    solo
                    maxlength="3"
                    v-model="input.idNo"
                    :rules="[rules.required, rules.idNo]"
                  ></v-text-field>
                </v-col>
                <v-spacer></v-spacer>
              </v-row>
              <v-row>
                <v-spacer></v-spacer>
                <v-col cols="12" sm="7" md="6" lg="5" xl="3">
                  <p>
                    登記抽籤起始週次<br />
                    <span
                      class="text-body-2 red--text text--darken-2 text-indent"
                    >
                      由於不同抽次開始參與抽籤會有不同結果，<br />請依照自己的完成登記時間選擇。
                    </span>
                  </p>
                  <v-radio-group v-model="input.startWeek">
                    <v-radio
                      label="第1週: 即10/09(六)00:00前完成登記加碼券抽籤。"
                      :value="1"
                    ></v-radio>
                    <v-radio
                      label="第2週: 即10/16(六)00:00前完成登記加碼券抽籤。"
                      :value="2"
                    ></v-radio>
                    <v-radio
                      label="第3週: 即10/23(六)00:00前完成登記加碼券抽籤。"
                      :value="3"
                    ></v-radio>
                    <v-radio
                      label="第4週: 即10/30(六)00:00前完成登記加碼券抽籤。"
                      :value="4"
                    ></v-radio>
                  </v-radio-group>
                </v-col>
                <v-spacer></v-spacer>
              </v-row>
              <v-row>
                <v-spacer></v-spacer>
                <v-col cols="12" sm="7" md="6" lg="5" xl="3">
                  <p>請選擇登記的加碼券</p>
                  <v-checkbox
                    v-for="(extraBonus, idx) in extraBonusList"
                    :key="'extra-bonus'+idx"
                    v-model="input.registerExtraBonus"
                    :label="extraBonus.name"
                    :value="idx"
                    dense
                    :hide-details="idx < extraBonusList.length-1"
                    :rules="[rules.checkboxRequired, rules.sports]"
                  ></v-checkbox>
                </v-col>
                <v-spacer></v-spacer>
              </v-row>
            </v-form>
            <v-row v-if="showOutput" class="mt-2">
              <v-spacer></v-spacer>
              <v-col cols="12" sm="7" md="6" lg="5" xl="3">
                <p>身分證後三碼： {{output.idNo}}</p>
                <p
                  class="text-left"
                  v-for="(extraBonusIdx, idx) in output.win"
                  :key="idx"
                >
                  第{{idx+1}}週：
                  <span
                    :class="[extraBonusIdx === null ? idx + 1 < input.startWeek ? 'grey--text' : 'red--text' : 'green--text']"
                  >
                    {{extraBonusIdx === null ? idx + 1 < input.startWeek ?
                    "未參與抽籤": "未中籤/尚未抽籤" :
                    extraBonusList[extraBonusIdx].name}}
                  </span>
                </p>
                <p class="text-center text-body-2 grey--text text--darken-2">
                  ※以上結果僅供參考，實際情況請以
                  <a
                    target="_blank"
                    href="https://vhpi.5000.gov.tw/"
                    class="link"
                  >
                    五倍加碼券官網
                  </a>
                  公告為主。
                </p>
              </v-col>
              <v-spacer></v-spacer>
            </v-row>
            <v-row>
              <v-col cols="12" class="text-center">
                <a href="javascript:;" class="link" @click="showDetail = true">
                  查看全部中籤號碼
                </a>
              </v-col>
              <v-col cols="12" class="text-center">
                <v-btn
                  v-if="!showOutput"
                  color="error"
                  elevation="2"
                  @click="ClearInput"
                  class="mr-2"
                >
                  清除
                </v-btn>
                <v-btn
                  v-if="!showOutput"
                  color="warning"
                  elevation="2"
                  @click="SelectAll"
                  class="mr-2"
                >
                  全選
                </v-btn>
                <v-btn
                  v-if="!showOutput"
                  color="primary"
                  elevation="2"
                  @click="CheckWin"
                  :disabled="!input.valid"
                >
                  查詢
                </v-btn>
                <v-btn
                  v-if="showOutput"
                  color="secondary"
                  elevation="2"
                  @click="Reset"
                >
                  重新查詢
                </v-btn>
              </v-col>
              <v-col v-if="!showOutput" cols="12" class="text-center">
                <span class="text-body-2 grey--text text--darken-2">
                  ※全選功能不會選擇藝Fun券，請依照您的藝Fun券類型選擇。
                </span>
              </v-col>
            </v-row>
          </v-container>
        </v-main>
        <v-footer dark padless>
          <v-card class="flex" flat tile>
            <v-card-title class="red accent-1">
              <span class="text-subtitle-1">注意事項：</span>
              <span class="text-subtitle-1">
                此站僅供使用者方便查看中籤號碼，非官方網站，中籤號碼暫時為手動更新，若有資料錯誤或未更新狀況，請以
                <a
                  target="_blank"
                  href="https://vhpi.5000.gov.tw/"
                  class="link"
                >
                  五倍加碼券官網
                </a>
                為主。
              </span>

              <v-spacer></v-spacer>

              <v-btn
                class="mx-4"
                dark
                icon
                href="https://github.com/james02288/5000-extra-bonus-voucher"
              >
                <v-icon>mdi-github</v-icon>
              </v-btn>
            </v-card-title>

            <v-card-text class="py-2 white--text text-center">
              {{ new Date().getFullYear() }} — <strong>JaoJaoLin 傑姆士</strong>
            </v-card-text>
          </v-card>
        </v-footer>
        <v-bottom-sheet v-model="showDetail">
          <v-sheet class="text-center" height="80vh">
            <v-btn class="my-6" color="secondary" @click="showDetail = false">
              返回
            </v-btn>
            <v-tabs fixed-tabs v-model="detailTab">
              <v-tab class="text-subtitle-1" v-for="(week) in weeks">
                第{{week}}週
              </v-tab>
              <v-tabs-items v-model="detailTab">
                <v-tab-item v-for="(week) in weeks">
                  <v-card color="basil" flat>
                    <v-card-text>
                      <v-simple-table>
                        <template v-slot:default>
                          <thead>
                            <tr>
                              <th class="text-center text-subtitle-1">
                                加碼券別
                              </th>
                              <th class="text-center text-subtitle-1">
                                中籤號碼
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              v-for="(extraBonus, idx) in extraBonusList"
                              :key="`detailBonus${idx}`"
                            >
                              <td class="text-subtitle-1" nowrap="true">
                                <a
                                  :href="extraBonus.url"
                                  target="_blank"
                                  class="link text-decoration-none"
                                >
                                  {{ extraBonus.name }}
                                </a>
                              </td>
                              <td class="text-left text-subtitle-1">
                                {{ extraBonus.win[`w${week}`].length > 0 ?
                                extraBonus.win[`w${week}`].join(",") :
                                "尚未抽籤/尚未更新" }}
                              </td>
                            </tr>
                          </tbody>
                        </template>
                      </v-simple-table>
                      <p class="text-center">
                        ※以上資料若有錯誤，請以
                        <a
                          target="_blank"
                          href="https://vhpi.5000.gov.tw/"
                          class="link"
                        >
                          五倍加碼券官網
                        </a>
                        公告為主。
                      </p>
                    </v-card-text>
                  </v-card>
                </v-tab-item>
              </v-tabs-items>
            </v-tabs>
          </v-sheet>
        </v-bottom-sheet>
      </v-app>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js"
      integrity="sha512-XdUZ5nrNkVySQBnnM5vzDqHai823Spoq1W3pJoQwomQja+o4Nw0Ew1ppxo5bhF2vMug6sfibhKWcNJsG8Vj9tg=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.5.9/vuetify.min.js"
      integrity="sha512-KR8HalseemML9F5HysbCoUVYkkhE1Tm0wvrHKcHrEvvHqzO4cs7W0g4wMAd/8Se+bSXizb7bQX/WLdYTeNlG+A=="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="./server/code.js"></script>
    <script type="text/javascript" src="main_1020.js"></script>
  </body>
</html>
